nav a {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
}
.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo span {
  color: #2e2f42;
}
nav ul {
  list-style: none;
}
address li {
  list-style: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
address a {
  text-decoration: none;
}
body{
  font-family:Roboto','Raleway', ' 'Tahoma', sans-serif;
}
.hero {
  background-image: url(/images/bg-hero.jpg);
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  ;}
  h1{
   padding-top: 20px;
  }

.hero button{
  background: #4D5AE5;
color: #ffffff;
display: flex;
flex-direction: row;
align-items: flex-start;
font: weight 500px; 

}
